div{
    padding: 5px 15px;
    background-color: #103c82;
    color: #eff3f7;
    border-radius: 10px;
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;
}

img{
    width: 20px;
}