<div class="page-container">
    <app-menu-bar></app-menu-bar>
    <div class="header-container">
        <h1>Productos</h1>
        <app-add-button [text]="'Agregar Producto'" (click)="manageCreateModal()"></app-add-button>
    </div>
    <div class="table-container">
        <div class="table-row">
            <div class="table-column">
                <div class="table-cell">
                    <strong>ID</strong>
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    <strong>Codigo</strong>
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    <strong>Nombre</strong>
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    <strong>Precio</strong>
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    
                </div>
            </div>
        </div>
        <div *ngFor="let product of products" class="table-row">
            <div class="table-column">
                <div class="table-cell">
                    {{product.id}}
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    {{product.code}}
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    {{product.name}}
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    ${{product.price}}
                </div>
            </div>
            <div class="table-column">
                <div class="table-cell">
                    <div class="actions-container">
                        <img (click)="manageModal(product)" class="actions-icon" src="assets/edit.svg"/>
                        <img (click)="manageDeleteModal(product)" class="actions-icon" src="assets/delete.svg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal" [class]="modalCreateStatus?'modal':'modal-none'">
        <div class="modal-content">
            <h1>Crear Producto</h1>
            <br/>
            <app-input [label]="'Codigo'" [type]="'text'" (onInputChange)="onInputsChange($event)" [currentValue]="currentProduct?.code"></app-input>
            <app-input [label]="'Nombre'" [type]="'text'" (onInputChange)="onInputsChange($event)" [currentValue]="currentProduct?.name"></app-input>
            <app-input [label]="'Precio'" [type]="'number'" (onInputChange)="onInputsChange($event)" [currentValue]="currentProduct?.price"></app-input>
            <div class="options-container">
                <app-action-button [type]="'accept'" [text]="'Aceptar'" (onClick)="onCreateAccept()"></app-action-button>
                <app-action-button [type]="'cancel'" [text]="'Cancelar'" (onClick)="onCreateCancel()"></app-action-button>
            </div>
        </div>
    </div>

    <div id="modal" [class]="modalStatus?'modal':'modal-none'">
        <div class="modal-content">
            <h1>Actualizar Producto</h1>
            <br/>
            <app-input [label]="'ID'" [type]="'text'" [disabled]="true" [currentValue]="currentProduct?.id"></app-input>
            <app-input [label]="'Codigo'" [type]="'text'" (onInputChange)="onInputsChange($event)" [currentValue]="currentProduct?.code"></app-input>
            <app-input [label]="'Nombre'" [type]="'text'" (onInputChange)="onInputsChange($event)" [currentValue]="currentProduct?.name"></app-input>
            <app-input [label]="'Precio'" [type]="'number'" (onInputChange)="onInputsChange($event)" [currentValue]="currentProduct?.price"></app-input>
            <div class="options-container">
                <app-action-button [type]="'accept'" [text]="'Aceptar'" (onClick)="onEditAccept()"></app-action-button>
                <app-action-button [type]="'cancel'" [text]="'Cancelar'" (onClick)="onEditCancel()"></app-action-button>
            </div>
        </div>
    </div>

    <div id="modal" [class]="modalDeleteStatus?'modal':'modal-none'">
        <div class="modal-content">
            <h1>Eliminar Producto?</h1>
            <h3>{{currentProduct?.name}}</h3>
            <div class="options-container">
                <app-action-button [type]="'accept'" [text]="'Aceptar'" (onClick)="onDeleteAccept()"></app-action-button>
                <app-action-button [type]="'cancel'" [text]="'Cancelar'" (onClick)="onDeleteCancel()"></app-action-button>
            </div>
        </div>
    </div>
</div>
